<h1>自分の題名</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_makura_path %>
<div class="tweets-container">
  <% @makuras.each do |t| %>

    <div class="tweet">
      <%= t.user.email %>
      <%= t.name %>
      <%= t.body %>
    </div>
    
  <% end %>
</div>